

    <div class="footer" style="margin-top: 50px; padding: 50px 0; background-color: whitesmoke;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4 style="letter-spacing: 2px; font-size: 20px; font-weight: 300;">MAKEUP</h4>
                </div>
                <div class="col-lg-4">
                    <p style="color: gray; letter-spacing: 1px;">MENU</p>
                    <a href="#" style="display: block; color: black; margin-bottom: 10px;">Home</a>
                    <a href="#" style="display: block; color: black; margin-bottom: 10px;">Trending</a>
                    <a href="#" style="display: block; color: black; margin-bottom: 10px;">Products</a>
                    <a href="#" style="display: block; color: black; margin-bottom: 10px;">Contact Us</a>
                </div>
                <div class="col-lg-4">
                    <p style="color: gray; letter-spacing: 1px;">HAVE A QUESTION ?</p>
                    <p>Sample address street<br>Chennai, TN, India.</p>
                    <p>+91 123123123</p>
                    <p>testemail@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
crossorigin="anonymous"></script>